<div class="gridContainer">
    <div class="mb-4 mt-2">
        <app-search></app-search>
    </div>
    <app-state-bar [states]="statesText" (switchingState)="onSwitchingState($event)"></app-state-bar>
    <button class="sortingButton arabicFont ms-auto mt-2 mb-2">ترتيب <img src="../../../assets/Icons/descendant.svg"></button>
    <div class="innerGridContainer w-100 h-75">
        <app-volunteer-card [active]="true" [first]="true"></app-volunteer-card>
        <app-volunteer-card [active]="false"></app-volunteer-card>
        <app-volunteer-card [active]="false"></app-volunteer-card>
        <app-volunteer-card [active]="false"></app-volunteer-card>
        <app-volunteer-card [active]="false"></app-volunteer-card>
        <app-volunteer-card [active]="false"></app-volunteer-card>
        <app-volunteer-card [active]="false"></app-volunteer-card>
        <app-volunteer-card [active]="false"></app-volunteer-card>
        <app-volunteer-card [active]="false"></app-volunteer-card>
        <app-volunteer-card [active]="false"></app-volunteer-card>
        <app-volunteer-card [active]="false"></app-volunteer-card>
        <app-volunteer-card [active]="false"></app-volunteer-card>
        <app-volunteer-card [active]="false"></app-volunteer-card>
        <app-volunteer-card [active]="false"></app-volunteer-card>
        <app-volunteer-card [active]="false"></app-volunteer-card>
        <app-volunteer-card [active]="false"></app-volunteer-card>
        <app-volunteer-card [active]="false"></app-volunteer-card>
        <app-volunteer-card [active]="false"></app-volunteer-card>
        <app-volunteer-card [active]="false"></app-volunteer-card>
        <app-volunteer-card [active]="false"></app-volunteer-card>
        <app-volunteer-card [active]="false"></app-volunteer-card>
        <app-volunteer-card [active]="false"></app-volunteer-card>
        <app-volunteer-card [active]="false"></app-volunteer-card>
        <app-volunteer-card [active]="false"></app-volunteer-card>
        <app-volunteer-card [active]="false"></app-volunteer-card>
        <app-volunteer-card [active]="false"></app-volunteer-card>
        <app-volunteer-card [active]="false"></app-volunteer-card>
        <app-volunteer-card [active]="false"></app-volunteer-card>
        <app-volunteer-card [active]="false"></app-volunteer-card>
        <app-volunteer-card [active]="false"></app-volunteer-card>
        <app-volunteer-card [active]="false"></app-volunteer-card>
        <app-volunteer-card [active]="false"></app-volunteer-card>
        <app-volunteer-card [active]="false"></app-volunteer-card>
        <app-volunteer-card [active]="false"></app-volunteer-card>
        <app-volunteer-card [active]="false"></app-volunteer-card>
        <app-volunteer-card [active]="false"></app-volunteer-card>
        <app-volunteer-card [active]="false"></app-volunteer-card>
        <app-volunteer-card [active]="false"></app-volunteer-card>
        <app-volunteer-card [active]="false"></app-volunteer-card>
        <app-volunteer-card [active]="false"></app-volunteer-card>
        <app-volunteer-card [active]="false"></app-volunteer-card>
        <app-volunteer-card [active]="false"></app-volunteer-card>
        <app-volunteer-card [active]="false"></app-volunteer-card>
    </div>
</div>