<ion-app>
  <ion-split-pane contentId="main-content">
    <ion-menu contentId="main-content" type="overlay" side="end" swipeGesture="false">
      <ion-content>
        <ion-grid 
          dir="rtl"
          class="ion-no-padding pt-2"> <!---->
          <div 
            class="menu-header p-2"
            *ngIf="auth.getUser() != null">
            <ion-row> <!--{{auth.user.firstName}} {{auth.user.lastName}} -->
              <ion-col>

                <!-- first name + middle name + last name -->
                <ion-row *ngIf="auth.getUser().first_name && auth.getUser().mid_name && auth.getUser().last_name">
                  <ion-col>
                    <ion-label class="defaultLabel fontH4">
                      {{auth.getUser().first_name}} {{auth.getUser().mid_name}} {{auth.getUser().last_name}}
                    </ion-label>
                  </ion-col>
                </ion-row>

                <!-- committe role-->
                <ion-row *ngIf="auth.getUser()">
                  <ion-col>
                    <ion-label class="defaultLabel fontH4">
                      {{auth.getUser().role_name}}
                    </ion-label>
                  </ion-col>
                </ion-row>

                <!-- current committe -->
                <ion-row *ngIf="auth.getUser().myCommitteeName">
                  <ion-col>
                    {{auth.getUser().myCommitteeName}}
                  </ion-col>
                </ion-row>

              </ion-col>
              <ion-col 
                class="d-flex flex-column justify-content-center"
                size="auto"
                *ngIf="auth.getUser().myBranch">
                <ion-label class="defaultLabel fontH4">
                  {{getBranch(auth.getUser().myBranch) | translate}}
                </ion-label>
              </ion-col>
            </ion-row>
          </div>

          <ion-row class="menu-item mt-2 p-2" (click)="logout()">
            <ion-col class="d-flex flex-column justify-content-center">
              {{'MENU.logout' | translate }}
            </ion-col>
            <ion-col size="auto" class="defaultIcon d-flex flex-column justify-content-center">
              <ion-icon name="log-out-outline"></ion-icon>
            </ion-col>
          </ion-row>
        </ion-grid>
      </ion-content>
    </ion-menu>
    <ion-router-outlet id="main-content"></ion-router-outlet>
  </ion-split-pane>
</ion-app>
