<div class="mainContainer w-100 h-100">
    <div class="head pe-4" dir="rtl">
        <div class="title arabicFont">بيانات المتطوع</div>
    </div>
    <div class="innerContainer w-100" dir="rtl">
        <div class="row">
            <div class="col-sm-4">
                <div class="mt-2">
                    <app-input [inputProperties]="volunteerForm.name"></app-input>
                </div>
            </div>
            <div class="col-sm-4">
                <div class="mt-2">
                    <app-input [inputProperties]="volunteerForm.nickName"></app-input>
                </div>
            </div>
            <div class="col-sm-4">
                <div class="mt-2">
                    <app-input [inputProperties]="volunteerForm.birthDate"></app-input>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-6 col-xl-4">
                <div class="mt-2">
                    <app-input [inputProperties]="volunteerForm.nationalID"></app-input>
                </div>
            </div>
            <div class="col-sm-6 col-xl-4">
                <div class="mt-2">
                    <app-select-box [selectBoxProperties]='volunteerForm.gender'></app-select-box>
                </div>
            </div>
            <div class="col-sm-6 col-xl-4">
                <div class="mt-2">
                    <app-input [inputProperties]="volunteerForm.university"></app-input>
                </div>
            </div>
            <div class="col-sm-6 col-xl-12">
                <div class="mt-2">
                    <app-input [inputProperties]="volunteerForm.faculty"></app-input>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-6 col-xl-4">
                <div class="mt-2">
                    <app-input [inputProperties]="volunteerForm.phoneNumber"></app-input>
                </div>
            </div>
            <div class="col-sm-6 col-xl-4">
                <div class="mt-2">
                    <app-input [inputProperties]="volunteerForm.joiningDate"></app-input>
                </div>
            </div>
            <div class="col-sm-6 col-xl-4">
                <div class="mt-2">
                    <app-input [inputProperties]="volunteerForm.age"></app-input>
                </div>
            </div>
            <div class="col-sm-6 col-xl-12">
                <div class="mt-2">
                    <app-select-box [selectBoxProperties]='volunteerForm.tShirt'></app-select-box>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-12">
                <div class="mt-2">
                    <app-select-box [selectBoxProperties]="volunteerForm.branch"></app-select-box>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-6">
                <div class="mt-2">
                    <app-input [inputProperties]="volunteerForm.apartmentNumber"></app-input>
                </div>
            </div>
            <div class="col-sm-6">
                <div class="mt-2">
                    <app-input [inputProperties]="volunteerForm.buildingNumber"></app-input>
                </div>
            </div>
            <div class="col-sm-6">
                <div class="mt-2">
                    <app-input [inputProperties]="volunteerForm.streetName"></app-input>
                </div>
            </div>
            <div class="col-sm-6">
                <div class="mt-2">
                    <app-input [inputProperties]="volunteerForm.neighborhoodName"></app-input>
                </div>
            </div>
            <div class="col-sm-12">
               <div class="mt-2">
                    <app-select-box [selectBoxProperties]="volunteerForm.governorate"></app-select-box>
               </div>
            </div>
        </div>
        <div class="row">
            <div class="mt-2">
                <app-textarea [textAreaProperties]="volunteerForm.comments"></app-textarea>
            </div>
        </div>
    </div>
</div>
