<div class="selectBoxContainer">
    <label [fittext]="true" [maxFontSize]="18" [modelToWatch]="selectBoxProperties.label"  for="input" 
        class="form-label customLabel arabicFontBold inputsBlueLabel">{{selectBoxProperties.label}}</label>
    <div class="selectBoxHead form-control inputStyle" (click)="toggleList()">
        <img [ngClass]="{'icon': open === false , 'iconRotated' : open === true }" 
        class="iconRotated" src="assets/Icons/DropdownArrow.svg"/>
        {{selectedOption.text}}
    </div>
    <div [style.display]="open?'block':'none'" class="selectBoxList inputStyle" >
        <div class="selectBoxItem px-2" *ngFor="let option of selectBoxProperties.options" (click)="changeSelection(option)">{{option.text}}</div>
    </div>
</div>

<form [formGroup]="selectBoxProperties.formGroup">
    <input type="text" class="d-none" [formControlName]="selectBoxProperties.formControlName">
</form>