@import "../../../../styles.framework/properties.scss";
@import "../../../../styles.framework/colors.scss";
@import "../../../../styles.framework/input.scss";
.head{
    border-top-left-radius: var(--window-border-radius);
    border-top-right-radius: var(--window-border-radius);
    overflow-y: auto;
    height: 82px;
    background-color: $blue;
    display: flex;
    align-items: center;
}
.title{
    font-size: 25px;
    color: white;
}
.mainContainer{
    padding-left: 20px;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    position: relative;
}
.innerContainer{
    box-sizing: border-box;
    padding-left: 10px;
    overflow-y: auto;
    height: 90%;
    overflow-x: hidden;
    color: white;
}
