<ion-header class="d-flex align-items-center justify-content-center ion-no-border">
  <ion-img class="resala-logo" [src]="resalaLogo"></ion-img>
  
</ion-header>

<ion-content>
  <ion-grid class="w-100 h-100 d-flex flex-column justify-content-center ion-no-padding">
    <ion-row>
      <ion-col class="ion-no-padding" size="12">
        <app-input class="w-100" [(inputProperties)]="usernameInputProperties"></app-input>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col class="ion-no-padding" size="12">
        <app-input class="w-100" [(inputProperties)]="passwordInputProperties"></app-input>
      </ion-col>
    </ion-row>
  
    <ion-row>
      <ion-col class="ion-no-padding" size="12">
        <app-button class="w-100" [label]="'تسجيل الدخول'"></app-button>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
