<ion-content>
  <ion-tabs>
    <ion-tab-bar class="tabBar mb-2 h-margin" mode="ios" slot="bottom">
      <ion-tab-button class="tabBtn" tab="volunteers"> <!--tab="music"-->
        <ion-label>{{'TABS.volunteers' | translate}}</ion-label>
        <ion-icon [src]="volunteersIcon"></ion-icon>
      </ion-tab-button>
      <ion-tab-button class="tabBtn" tab="events"> <!--tab="games"-->
        <ion-label>{{'TABS.events' | translate}}</ion-label>
        <ion-icon [src]="eventsIcon"></ion-icon>
      </ion-tab-button>
    </ion-tab-bar>
  </ion-tabs>
</ion-content>
