<div class="modal fade-scale" id="normalModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content modal-window">
      <div class="modal-header d-flex justify-content-center">
        <h5 class="modal-title" id="exampleModalLabel">{{alertService.header}}</h5>
      </div>
      <div class="modal-body text-center">
        {{alertService.alertBody}}
      </div>
      <div class="modal-footer d-flex flex-row-reverse justify-content-center flex-nowrap">
        <button *ngFor="let btn of alertService.alertButtons" type="button" class="btn btn-secondary w-50 modalButton"
          data-bs-dismiss="modal" (click)="btn.handler()">{{btn.name}}</button>
      </div>
    </div>
  </div>
</div>