.dateTimeContainer {
    --background: var(--header-default-background);
    border-radius: var(--default-border-radius);
    --color: var(--light-gray);
    border-width: 2px;
    border-style: solid;
    border-color: var(--header-default-background);
}

.invalidInput {
    border-color: var(--red);
}