/*.card {
    background-color: #C2C7DB;
    border-radius: var(--border-radius);
}

.date {
    display: flex;
    align-items: center;
    background-color: white;
    border-radius: var(--border-radius);
}

.kpi {
    border-radius: var(--border-radius);
    text-align: center;
    font-weight: bold;
}*/

.card {
    width: 100%;
    background-color: var(--background-default);//var(--gray);
    border-radius: var(--default-border-radius);
    display: flex;
    align-items: center;
    justify-content: center;
    white-space: nowrap;
    overflow: hidden;
    cursor: pointer;
    border-style: solid;
    border-width: 1px;
    border-color: var(--light-gray);
}

.activeCard {
    background-color: var(--dark-blue);
    color: white;
}

  
.dateCard {
    background-color: transparent;//var(--gray);
    height: 100%;
    border-radius: var(--default-border-radius);
    //border: 2px solid var(--default-border-color);
    width: fit-content;
    color: var(--dark-green);
}

.activeDateCard {
    //background-color: white;
    color: white;
}

.day {
    font-size: 44px;
    line-height: 1.1;
    font-weight: bold;
}

.month {
    font-size: 16px;
    line-height: 1.1;
}

.year {
    font-size: 16px;
    line-height: 1.1;
}

.header {
    font-size: 18px;
    font-weight: bold;
    white-space: break-spaces;
    color: rgba(241, 241, 242, 0.92);
}

.description {
    font-size: 14px;
    white-space: break-spaces;
    color: var(--description-default);
}

.kpi {
    border-radius: 9px;
    text-align: center;
    padding: 3px;
    font-weight: bold;
    font-size: 16px;
    color: white;//var(--light-gray)
}

.box {
    width: 500px; 
    height: 100px;  
    border: solid 5px #000;
    border-color: transparent transparent transparent #000;
    border-radius: 50%/100px;
}
  
.greenIcon {
    color: var(--dark-green);
}