.alertContainer .alert-wrapper {
    background-color: var(--background-default);
    border: 2px solid var(--default-border-color);
}

.alertContainer .alert-title {
    color: var(--light-gray);
}


.alertContainer .alert-sub-title {
    color: var(--light-gray);
}

.alertContainer .alert-message {
    color: white;
}

.alertContainer .alert-button {
    border-color: var(--default-border-color);
    color: var(--dark-green);
}

.alertContainer .alert-checkbox-label {
    color: var(--light-gray);
}

.rightToLeft .alert-checkbox-label {
    text-align: end;
}

.rightToLeft .alert-button-inner {
    display: flex;
    flex-direction: row-reverse;
}


[aria-checked=true].sc-ion-alert-ios .alert-checkbox-icon.sc-ion-alert-ios {
    border-color: var(--dark-green);
    background-color: var(--dark-green);
}