<ion-grid class="cardContainer ion-no-padding active" dir="rtl">
  <ion-row>
    <!--"CALLCARD": {
        "name": "الاسم",
        "phone": "رقم الهاتف",
        "date": "تاريخ الميلاد",
        "result": "نتيجة المكالمة",
        "attendance": "حضور القافلة",
        "notes": "ملاحظات",
        "submit": "تسجيل",
        "edit": "تعديل"
    }-->
    <ion-col class="cornerBorder cornerBorderActive" size="auto">
      <div  
        *ngIf="showLoading"
        class="d-flex flex-column align-items-center justify-content-center">
        <div class="spinner-grow" style="width: 8px; height: 8px;"></div>
        <div class="spinner-grow" style="width: 8px; height: 8px;"></div>
        <div class="spinner-grow" style="width: 8px; height: 8px;"></div>
      </div>
    </ion-col>

    <ion-col>
      
      <ion-grid>
        <ion-row>
          <ion-col>
            <ion-label class="defaultLabel fontH4">
              <!--<ion-label>
                {{'CALLCARD.name' | translate}} :
              </ion-label>-->
              <ion-label>
                adham mamdouh mohamed
              </ion-label>
            </ion-label>
          </ion-col>

          <ion-col size="auto">
            <ion-label class="defaultLabel fontH4" (click)="goToCallsDialog()">
              01100024081
            </ion-label>
          </ion-col>
        </ion-row>

        <ion-row>
          <ion-col>
            <ion-button class="h-auto">
              <ion-label class="defaultLabel fontH4">{{'CALLCARD.edit' | translate}}</ion-label>
            </ion-button>
          </ion-col>
          <ion-col>
            <ion-button class="h-auto">
              <ion-label class="defaultLabel fontH4">{{'CALLCARD.submit' | translate}}</ion-label>
            </ion-button>
          </ion-col>
        </ion-row>

      </ion-grid>

    </ion-col>
  </ion-row>
  
</ion-grid>

<ion-grid class="cardContainer ion-no-padding " dir="rtl">
  <ion-row>
    <!--"CALLCARD": {
        "name": "الاسم",
        "phone": "رقم الهاتف",
        "date": "تاريخ الميلاد",
        "result": "نتيجة المكالمة",
        "attendance": "حضور القافلة",
        "notes": "ملاحظات",
        "submit": "تسجيل",
        "edit": "تعديل"
    }-->
    <ion-col class="cornerBorder " size="auto">
      <div  
        *ngIf="showLoading"
        class="d-flex flex-column align-items-center justify-content-center">
        <div class="spinner-grow" style="width: 8px; height: 8px;"></div>
        <div class="spinner-grow" style="width: 8px; height: 8px;"></div>
        <div class="spinner-grow" style="width: 8px; height: 8px;"></div>
      </div>
    </ion-col>

    <ion-col>
      
      <ion-grid>
        <ion-row>
          <ion-col>
            <ion-label class="defaultLabel">
              <ion-label>
                {{'CALLCARD.name' | translate}} :
              </ion-label>
              <ion-label>
                adham mamdouh mohamed
              </ion-label>
            </ion-label>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col>
            edit
          </ion-col>
          <ion-col>
            <ion-button class="h-auto">
              <ion-label class="defaultLabel">{{'CALLCARD.submit' | translate}}</ion-label>
            </ion-button>
          </ion-col>
        </ion-row>
      </ion-grid>

    </ion-col>
  </ion-row>
  
</ion-grid>

<ion-grid class="cardContainer ion-no-padding completed" dir="rtl">
  <ion-row>
    <!--"CALLCARD": {
        "name": "الاسم",
        "phone": "رقم الهاتف",
        "date": "تاريخ الميلاد",
        "result": "نتيجة المكالمة",
        "attendance": "حضور القافلة",
        "notes": "ملاحظات",
        "submit": "تسجيل",
        "edit": "تعديل"
    }-->
    <ion-col class="cornerBorder cornerBorderCompleted" size="auto">
      <div  
        *ngIf="showLoading"
        class="d-flex flex-column align-items-center justify-content-center">
        <div class="spinner-grow" style="width: 8px; height: 8px;"></div>
        <div class="spinner-grow" style="width: 8px; height: 8px;"></div>
        <div class="spinner-grow" style="width: 8px; height: 8px;"></div>
      </div>
    </ion-col>

    <ion-col>
      
      <ion-grid>
        <ion-row>
          <ion-col>
            <ion-label class="defaultLabel">
              <ion-label>
                {{'CALLCARD.name' | translate}} :
              </ion-label>
              <ion-label>
                adham mamdouh mohamed
              </ion-label>
            </ion-label>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col>
            edit
          </ion-col>
          <ion-col>
            <ion-button class="h-auto">
              <ion-label class="defaultLabel">{{'CALLCARD.submit' | translate}}</ion-label>
            </ion-button>
          </ion-col>
        </ion-row>
      </ion-grid>

    </ion-col>
  </ion-row>
  
</ion-grid>