<div class="position-relative mt-1 mbt-1" dir="rtl" style="z-index: 10;">
  <ion-grid class="position-absolute ion-no-padding h-100 d-flex flex-column justify-content-center align-items-start" style="z-index: 99;">
    <ion-row class="h-100 d-flex flex-column align-items-center justify-content-center">
      <ion-col class="d-flex flex-column align-items-center justify-content-center callButton" (click)="callVolunteer(call.receiver.phoneNumber)">
        <ion-icon name="call-outline" style="color: white;"></ion-icon>
      </ion-col>
      <!--<ion-col class="d-flex flex-column align-items-center justify-content-center callButton">
        <ion-icon name="copy-outline" style="color: white;"></ion-icon>
      </ion-col>-->
    </ion-row>
  </ion-grid>

  <ion-grid #callCard class="position-relative cardContainer ion-no-padding" [ngClass]="{'completed': call.completed}" style="z-index: 100;">
    <ion-row>
      <ion-col 
        class="cornerBorder" 
        [ngClass]="{'cornerBorderCompleted': call.completed}" size="auto"
        type="button" 
        data-bs-toggle="collapse" 
        [attr.data-bs-target]="'#call' + call.id" 
        aria-expanded="false" 
        [attr.aria-controls]="'call' + call.id">
        <div  
          *ngIf="showLoading"
          class="d-flex flex-column align-items-center justify-content-center">
          <div class="spinner-grow" style="width: 8px; height: 8px;"></div>
          <div class="spinner-grow" style="width: 8px; height: 8px;"></div>
          <div class="spinner-grow" style="width: 8px; height: 8px;"></div>
        </div>
      </ion-col>
  
      <ion-col>
        
        <ion-grid>
          <ion-row 
            > <!--type="button" 
              data-bs-toggle="collapse" 
              [attr.data-bs-target]="'#call' + call.id" 
              aria-expanded="false" 
              [attr.aria-controls]="'call' + call.id"-->
            <ion-col>
              <ion-label class="defaultLabel fontH4">
                <ion-label (click)="showclose()" >
                  {{call.receiver.firstName}} {{call.receiver.midName}} {{call.receiver.lastName}}
                </ion-label>
              </ion-label>
            </ion-col>
  
            <ion-col size="auto">
              <ion-label class="defaultLabel fontH4" (click)="copyToClipboard(call.receiver.phoneNumber)">
                {{call.receiver.phoneNumber}}
              </ion-label>
            </ion-col>
          </ion-row>
          
          <div  class="collapse" [attr.id]="'call' + call.id"> <!--*ngIf="show"-->
            <ion-row class="pb-1">
              <ion-col class="ps-1">
                <app-select-box [selectBoxProperties]="callResultProperties"></app-select-box>
              </ion-col>
            </ion-row>
  
            <ion-row>
              <ion-col>
                <app-text-area [(inputProperties)]="notesProperties"></app-text-area>
              </ion-col>
            </ion-row>
    
            <ion-row>
              <!--<ion-col *ngIf="call.callType.id === callType.feedback">
                <ion-button class="callCardBtn p-1 ion-no-margin" (click)="onEdit()">
                  <ion-label class="defaultLabel fontH4"><ion-label class="defaultLabel fonth4">{{'CALLCARD.edit' | translate}}</ion-label></ion-label>
                </ion-button>
              </ion-col>-->
              <ion-col>
                <ion-button *ngIf="!call.completed"
                  class="callCardBtn p-1 ion-no-margin" 
                  (click)="onSubmit()"
                  [disabled]="callForm.invalid">
                  <ion-label class="defaultLabel fontH4"><ion-label class="defaultLabel fonth4">{{'CALLCARD.submit' | translate}}</ion-label></ion-label>
                </ion-button>
                <ion-button *ngIf="call.completed"
                  class="callCardBtn p-1 ion-no-margin" 
                  (click)="onSubmit()"
                  [disabled]="callForm.invalid">
                  <ion-label class="defaultLabel fontH4"><ion-label class="defaultLabel fonth4">{{'CALLCARD.edit' | translate}}</ion-label></ion-label>
                </ion-button>
              </ion-col>
            </ion-row>
          </div>
  
        </ion-grid>
  
      </ion-col>
    </ion-row>
    
  </ion-grid>
  
</div>