@import "../../../../styles.framework/properties.scss";
@import "../../../../styles.framework/colors.scss";
.stateButton{
    font-size: var(--h3);
    border: none;
    background-color: transparent;
    color: $grayFontColor;
    white-space: nowrap;
    overflow: hidden;
    background-color: white;
    cursor: pointer;
    padding-bottom: 0px;
    &:focus{
        outline: none;
    }
}
.stateContainer{
    border-radius: var(--search-border-radius);
    border: $blue solid 1px;
    overflow: hidden;
}
.activeState{
    background-color: $blue;
    color: white;
}
.stateButton:not(:first-child):not(:last-child){
    border-left: solid 1px $blue;
    border-right: solid 1px $blue;
}