@import "src/styles.framework/properties.scss";
@import "src/styles.framework/colors.scss";
@import "src/styles.framework/input.scss";
.fade-scale {
   /*  transform: scale(0); */
    opacity: 0;
    -webkit-transition: all .25s linear;
    -o-transition: all .25s linear;
    transition: all .25s linear;
  }

  .show {
    opacity: 1;
    /* transform: scale(1); */
  }

.modal-window {
  border-radius: $windowBorderRadius;
}

.modal-header {
  border: none !important;
}

.modal-footer {
  border: none !important;
}

.modal-window{
  background: $redWarning;
}