<div #mainModel class="modal fade-scale" id="normalModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content modal-window">
      <div class="modal-header d-flex justify-content-center">
        <h5 class="modal-title" id="exampleModalLabel">تحذير</h5>
      </div>
      <div class="modal-body">
        ...
      </div>
      <div class="modal-footer d-flex flex-row-reverse flex-nowrap">
        <button type="button" class="btn btn-secondary w-50" data-bs-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary w-50">Save changes</button>
      </div>
    </div>
  </div>
</div>
