<ion-header>
  <app-title-bar [title]="'حدث'" [showBackIcon]="true"></app-title-bar>
</ion-header>

<ion-content>
  <ion-grid class="p-1" dir="rtl">
    <form class="d-flex flex-column justify-content-center align-items-center"
      [formGroup]="eventFormAtt.eventForm" (ngSubmit)="mode === 'add' ? addEvent() : editEvent()">
      <ion-row class="max-width w-100">
        <ion-col class="p-1">
          <app-input [(inputProperties)]="eventFormAtt.name"></app-input>
        </ion-col>
      </ion-row>

      <ion-row class="max-width w-100">
        <ion-col class="p-1">
          <app-select-box [selectBoxProperties]="eventFormAtt.hasCalls"></app-select-box>
        </ion-col>
        <ion-col class="p-1">
          <app-select-box [selectBoxProperties]="eventFormAtt.shareable"></app-select-box>
        </ion-col>
      </ion-row>

      <ion-row class="max-width w-100">
        <ion-col class="p-1">
          <app-date-time-picker [(dateTimeProperties)]="eventFormAtt.from"></app-date-time-picker>
        </ion-col>
        <ion-col class="p-1">
          <app-date-time-picker [(dateTimeProperties)]="eventFormAtt.to"></app-date-time-picker>
        </ion-col>
      </ion-row>

      <ion-row class="max-width w-100">
        <ion-col class="p-1">
          <app-date-time-picker [(dateTimeProperties)]="eventFormAtt.invitationStartTime"></app-date-time-picker>
        </ion-col>
        <ion-col class="p-1">
          <app-date-time-picker [(dateTimeProperties)]="eventFormAtt.invitationEndTime"></app-date-time-picker>
        </ion-col>
      </ion-row>

      <ion-row class="max-width w-100">
        <ion-col class="p-1">
          <app-date-time-picker [(dateTimeProperties)]="eventFormAtt.feedBackStartTime"></app-date-time-picker>
        </ion-col>
        <ion-col class="p-1">
          <app-date-time-picker [(dateTimeProperties)]="eventFormAtt.feedBackEndTime"></app-date-time-picker>
        </ion-col>
      </ion-row>

      <ion-row class="max-width w-100">
        <ion-col class="p-1">
          <app-date-time-picker [(dateTimeProperties)]="eventFormAtt.notAttendStartTime"></app-date-time-picker>
        </ion-col>
        <ion-col class="p-1">
          <app-date-time-picker [(dateTimeProperties)]="eventFormAtt.notAttendEndTime"></app-date-time-picker>
        </ion-col>
      </ion-row>

      <ion-row class="max-width w-100">
        <ion-col class="p-1">
          <app-text-area [(inputProperties)]="eventFormAtt.description"></app-text-area>
        </ion-col>
      </ion-row>

      <ion-row class="max-width w-100">
        <ion-col class="p-1">
          <app-text-area [(inputProperties)]="eventFormAtt.script"></app-text-area>
        </ion-col>
      </ion-row>

      <ion-row class="max-width w-100">
        <ion-col class="p-1">
          <app-muli-select-box [selectBoxProperties]="eventFormAtt.branches"></app-muli-select-box>
        </ion-col>
      </ion-row>

      <ion-row class="max-width w-100">
        <ion-col class="p-1">
          <app-button 
            [label]="'VOLUNTEER_FORM.edit'" 
            [type]="'submit'" 
            [disabled]="eventFormAtt.eventForm.invalid"
            *ngIf="mode === 'edit'"></app-button>
          <app-button 
            [label]="'VOLUNTEER_FORM.add'" 
            [type]="'submit'" 
            [disabled]="eventFormAtt.eventForm.invalid"
            *ngIf="mode === 'add'"></app-button>
        </ion-col>
      </ion-row>
      
    </form>
  </ion-grid>
  
</ion-content>
