<div class="gridContainer">
    <div class="mb-4 mt-2">
        <app-search (onEntering)="search($event)"></app-search>
    </div>
    <div class="d-flex justify-content-between align-items-center">
        <button *ngIf="privilegeHandler.isAddEventValid()" (click)="activateAddMode()" class="blueButton arabicFontBold">+</button>
        <div class="col-10">
            <app-state-bar [activeInput]="eventsCRUD.gridState" [states]="statesText" (switchingState)="onSwitchingState($event)"></app-state-bar>
        </div>
    </div>
    <button class="sortingButton arabicFont ms-auto mt-2 mb-2">ترتيب <img src="../../../assets/Icons/descendant.svg"></button>
    <div *ngIf="eventsCRUD.gridState==0 && searchMode == false" class="innerGridContainer w-100">
        <div *ngIf="eventsCRUD.nextEvents == undefined" class="text-center arabicFontBold">
            لا يوجد اي بيانات
        </div>
        <app-event-card [event]="event" *ngFor="let event of eventsCRUD.nextEvents"></app-event-card>
    </div>
    <div *ngIf="eventsCRUD.gridState==1 && searchMode == false" class="innerGridContainer w-100">
        <div *ngIf="events == undefined && eventsCRUD.gridState==1" class="text-center arabicFontBold">
            لا يوجد اي بيانات
        </div>
        <app-event-card [event]="event" *ngFor="let event of eventsCRUD.previousEvents"></app-event-card>
    </div>
    <div *ngIf="eventsCRUD.gridState==0 && searchMode == true" class="innerGridContainer w-100">
        <div *ngIf="eventsCRUD.gridState==0 && eventsCRUD.nextSearchedEvents.length == 0" class="text-center arabicFontBold">
            لا يوجد اي بيانات
        </div>
        <app-event-card [event]="event" *ngFor="let event of eventsCRUD.nextSearchedEvents"></app-event-card>
    </div>
    <div *ngIf="eventsCRUD.gridState==1 && searchMode == true" class="innerGridContainer w-100">
        <div *ngIf="eventsCRUD.gridState==1 && eventsCRUD.previousSearchedEvents.length == 0" class="text-center arabicFontBold">
            لا يوجد اي بيانات
        </div>
        <app-event-card [event]="event" *ngFor="let event of eventsCRUD.previousSearchedEvents"></app-event-card>
    </div>
</div>
