<div class="barContainer shadow mt-2" >
  <ion-grid *ngIf="!showSearch">
    <ion-row dir="rtl">
      <ion-col 
        size="auto" 
        class="d-flex flex-column align-items-center justify-content-center iconContainer rounded-circle m-1" >
        <ion-icon name="menu" class="headingIcon" (click)="toggleMenu()"></ion-icon>
      </ion-col>
      <ion-col class="d-flex flex-column align-items-start">
        <ion-label class="title fontH1">
          {{title}}
        </ion-label>
      </ion-col>
      <ion-col 
        class="d-flex flex-column align-items-center justify-content-center iconContainer rounded-circle m-1" 
        size="auto"
        (click)="onSearchClick()">
        <ion-icon name="search-outline" class="headingIcon"></ion-icon>
      </ion-col>
      <ion-col 
        *ngIf="showAddButton"
        class="d-flex flex-column align-items-center justify-content-center iconContainer rounded-circle m-1" 
        size="auto" 
        (click)="goToAddForm()">
        <ion-icon name="add-circle-outline" class="headingIcon"></ion-icon>
      </ion-col>
    </ion-row>
  </ion-grid>
  <app-search-bar 
    *ngIf="showSearch" 
    (onSearch)="onSearching($event)"
    (onBackClick)="onSearchBackClick()"></app-search-bar>
  <app-tabs *ngIf="!showSearch" [(tabProperties)]="tabProperties"></app-tabs>
</div>