@import "../../../styles.framework/colors.scss";
@import "../../../styles.framework/properties.scss";
.gridContainer{
    width: var(--grid-width);
    height: 100%;
    box-sizing: border-box;
    padding: 10px;
    background-color: $loginBackgroundColor;
    border-radius: var(--window-border-radius);
    overflow: hidden;
    display: flex;
    flex-direction: column;
}
.innerGridContainer{
    overflow-y: auto;
    padding-right: 10px;
    overflow-x: hidden;
}
button{
    &:focus{
        outline: none;
    }
}
