<div class="gridContainer">
    <div class="innerGridContainer w-100 h-100">
        <div class="row" dir="rtl">
            <div class="col-12">
                <div class="mt-2">
                    <app-input [inputProperties]="eventsCRUD.summaryForm.eventName"></app-input>
                </div>
            </div>
            <div class="col-12">
                <div class="mt-2">
                    <app-input [inputProperties]="eventsCRUD.summaryForm.from"></app-input>
                </div>
            </div>
            <div class="col-12">
                <div class="mt-2">
                    <app-input [inputProperties]="eventsCRUD.summaryForm.from"></app-input>
                </div>
            </div>
            <div class="col-12">
                <div class="mt-2">
                    <app-input [inputProperties]="eventsCRUD.summaryForm.to"></app-input>
                </div>
            </div>
            <div class="col-12">
                <div class="mt-2">
                    <app-textarea [textAreaProperties]="eventsCRUD.summaryForm.eventDescription"></app-textarea>
                </div>
            </div>
            <div class="col-12">
                <div class="mt-2">
                    <app-textarea [textAreaProperties]="eventsCRUD.summaryForm.eventText"></app-textarea>
                </div>
            </div>
        </div>
    </div>
</div>