<ion-header class="ion-no-border">
  <app-main-page-bar 
    [(tabProperties)]="tabProperties" 
    [title]="'TABS.events' | translate"
    [addButtonNavigationPageName]="addButtonNavigationPageName"
    [showAddButton]="privilegeHandler.isAddEventValid()"></app-main-page-bar>
</ion-header>

<ion-content>
  <ion-refresher slot="fixed" (ionRefresh)="refreshEvents($event)">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>

  <div *ngIf="tabProperties.selectedTabIndex === eventTabsTemp.previous">
    <app-event-card 
      *ngFor="let event of eventCRUD.events"
      [event]="event" (onSwap)="openEventData(event)" [index]="event.id"></app-event-card>
  </div>

  <div *ngIf="tabProperties.selectedTabIndex === eventTabsTemp.upcoming">
    <app-event-card 
      *ngFor="let event of eventCRUD.events"
      [event]="event" (onSwap)="openEventData(event)" [index]="event.id"></app-event-card>
  </div>

</ion-content>
