<form *ngIf="inputProperties.formController; else inputNoForm" [formGroup]="inputProperties.formController.formGroup">
    <ion-grid class="max-component-container ion-no-padding margin-h"
        dir="rtl">
        <ion-row 
            class="inputBorder max-width w-100 ps-2 pe-2"
            [ngClass]="{'invalidInput': isInvalidInput()}">
            <ion-col class="ion-no-padding">
                <ion-item 
                    class="ion-no-border ion-no-padding ion-no-margin defaultLabel fontH4 h-auto inputContainer" lines="none">
                    <ion-label position="floating">{{inputProperties.title | translate}}</ion-label>
                    <ion-input class="w-100 ion-no-padding inputBox fontH4" 
                        [placeholder]="inputProperties.placeholder | translate"
                        (ionChange)="onChange()"
                        [type]="inputProperties.type"
                        [formControlName]="inputProperties.formController.formControllerName"
                        mode="ios"></ion-input>
                </ion-item>
            </ion-col>
            <ion-col 
                *ngIf="inputProperties.hasIcon"
                size="auto"
                class="d-flex flex-column align-items-center justify-content-center defaultIcon">
                <ion-icon [src]="inputProperties.iconSrc"></ion-icon>
            </ion-col>
            <ion-col 
                *ngIf="showLetterCounter"
                size="auto" 
                class="d-flex flex-column align-items-center justify-content-center">
                <ion-label class="defaultLabel fountH5">
                    {{inputProperties.value.length}}
                </ion-label>
            </ion-col>
        </ion-row>
    </ion-grid>
</form>

<ng-template #inputNoForm>
    <ion-grid class="max-component-container ion-no-padding margin-h" dir="rtl">
        <ion-row class="inputBorder max-width w-100 ps-2 pe-2">
            <ion-col class="ion-no-padding">
                <ion-item class="ion-no-border ion-no-padding ion-no-margin defaultLabel fontH4 h-auto inputContainer" lines="none">
                    <ion-label position="floating">{{inputProperties.title | translate}}</ion-label>
                    <ion-input class="w-100 ion-no-padding inputBox fontH4" 
                        [(ngModel)]="inputProperties.value"
                        [placeholder]="inputProperties.placeholder | translate"
                        (ionChange)="onChange()"
                        [type]="inputProperties.type"
                        mode="ios"></ion-input>
                </ion-item>
            </ion-col>
            <ion-col 
                *ngIf="inputProperties.hasIcon"
                size="auto"
                class="d-flex flex-column align-items-center justify-content-center defaultIcon">
                <ion-icon [src]="inputProperties.iconSrc"></ion-icon>
            </ion-col>
            <ion-col 
                *ngIf="showLetterCounter"
                size="auto" 
                class="d-flex flex-column align-items-center justify-content-center">
                <ion-label class="defaultLabel fountH5">
                    {{inputProperties.value.length}}
                </ion-label>
            </ion-col>
        </ion-row>
    </ion-grid>
</ng-template>
