<form [formGroup]="inputProperties.formGroup">
    <label [fittext]="false" [minFontSize]="14" [maxFontSize]="18" [modelToWatch]="inputProperties.label"
        class="form-label customLabel arabicFontBold inputsBlueLabel"
        [ngClass]="inputProperties.formGroup.controls[inputProperties.formControlName].invalid && 
        inputProperties.formGroup.controls[inputProperties.formControlName].touched? 'wrongInput': ''">{{inputProperties.label}}</label>
    <span tabindex="0" data-bs-toggle="popover" data-bs-trigger="hover"
        [attr.data-bs-content]="inputProperties.formGroup.controls[inputProperties.formControlName].invalid && 
        inputProperties.formGroup.controls[inputProperties.formControlName].touched? inputProperties.errorMessage : ''">
        <input [readonly]="inputProperties.disabled" [formControlName]="inputProperties.formControlName"
            [placeholder]="inputProperties.placeHolder" [type]="inputProperties.type" class="form-control inputStyle">
    </span>
</form>