<form [formGroup]="inputProperties.formGroup">
    <label [fittext]="true" [maxFontSize]="18" [modelToWatch]="inputProperties.label" for="input"
        class="form-label wrongInput customLabel arabicFontBold inputsBlueLabel">{{inputProperties.label}}</label>
    <span tabindex="0" data-bs-toggle="popover" data-bs-trigger="hover focus"
        [attr.data-bs-content]="this.inputProperties.formGroup.invalid && 
        this.inputProperties.formGroup.controls[inputProperties.formControlName].touched? inputProperties.errorMessage : ''">
        <input [readonly]="inputProperties.disabled" [formControlName]="inputProperties.formControlName"
            [placeholder]="inputProperties.placeHolder" [type]="inputProperties.type" class="form-control inputStyle"
            id="input">
    </span>
</form>