<div class="container px-3 py-2 upperContainer"
  [ngClass]="{'active': properties.callStatus === callStatus.active,
              'inFocus': properties.callStatus === callStatus.inFocus,
              'completed': properties.callStatus === callStatus.completed}">
  <div class="d-flex">
    <div class="row w-100">
      <div class="row">
        <div class="col-6">
          <label for="name" class="form-label arabicFontBold inputsBlueLabel">الأسم</label>
          <input type="text" class="form-control inputStyle" id="name">
        </div>
        <div class="col-3">
          <label for="name" class="form-label arabicFontBold inputsBlueLabel">رقم الهاتف</label>
          <input type="text" class="form-control inputStyle" id="name">
        </div>
        <div class="col-3">
          <label for="joinedDate" class="form-label arabicFontBold inputsBlueLabel">تاريخ الميلاد</label>
          <input type="date" dir="rtl" class="form-control inputStyle" id="joinedDate">
        </div>
      </div>
      <div class="row d-flex align-items-end">
        <div class="col-3">
          <label for="name" class="form-label arabicFontBold inputsBlueLabel">نتيجة المكالمة</label>
          <select id="sex" class="selectStyle inputStyle">
              <option value="1">نعم</option>
              <option value="2">لا</option>
          </select>
        </div>
        <div class="col-3">
          <label for="name" class="form-label arabicFontBold inputsBlueLabel">حضور القافلة</label>
          <select id="sex" class="selectStyle inputStyle">
              <option value="1">نعم</option>
              <option value="2">لا</option>
          </select>
        </div>
        <div class="col-6">
          <label for="joinedDate" class="form-label arabicFontBold inputsBlueLabel">ملاحظات</label>
          <input type="text" dir="rtl" class="form-control inputStyle" id="joinedDate">
        </div>
      </div>
    </div>
    <div class="d-flex flex-column align-items-center" style="width: 100px;">
      <div
      class="cardNumberContainer d-flex flex-column p-1 position-relative"
      [ngClass]="{'active': properties.callStatus === callStatus.active,
                  'inFocus': properties.callStatus === callStatus.inFocus,
                  'completed': properties.callStatus === callStatus.completed}" style="top: -9px;">
        <span class="cardNumber">{{properties.callNumber}}</span>
        <span>{{properties.totalCallsCount}}/</span>
      </div>
      <div class="w-100 h-100 d-flex flex-column align-items-end justify-content-between">
        <div class="callType w-100 text-center">
          دعوة
        </div>
        <button class="btn btn-primary w-100">تسجيل</button>
        <div *ngIf="isSubmitting" class="spinner-grow" role="status"></div>
      </div>

    </div>
  </div>
</div>
