<form [formGroup]="textAreaProperties.formGroup">
    <label [fittext]="false" [minFontSize]="14" [maxFontSize]="18" [modelToWatch]="textAreaProperties.label"
        class="form-label customLabel arabicFontBold inputsBlueLabel"
        [ngClass]="textAreaProperties.formGroup.controls[textAreaProperties.formControlName].invalid && 
        textAreaProperties.formGroup.controls[textAreaProperties.formControlName].touched? 'wrongInput': ''">{{textAreaProperties.label}}</label>
    <textarea [readOnly]="textAreaProperties.disabled" [placeholder]="textAreaProperties.placeHolder" [readonly]="textAreaProperties.disabled" [formControlName]="textAreaProperties.formControlName" class="form-control inputStyle" style="resize: none;" rows="7"></textarea>
</form>