<div class="container upperContainer p-2">
  <div class="d-flex w-100 h-100 position-auto" dir="rtl">
    <div class="d-flex flex-column ms-1 w-100">
      <div class="header">
        قافلة الكومبو لقرية السنة القديمة
      </div>
      <div class="description">
        (اطعام فقط) + (تكملة إعادة استكشاف)
      </div>
      <div class="container mt-2">
        <div class="row d-flex justify-content-around">
          <div class="kpi bgSuccess col-3">400</div>
          <div class="kpi bgWarning col-3">400</div>
          <div class="kpi bgDanger col-3">400</div>
        </div>
      </div>
    </div>
    <div class="dateCard align-self-center h-100 p-1 me-1 d-flex flex-column align-items-center">
      <span class="day">15</span>
      <span class="month">jan</span>
      <span class="year">2020</span>
    </div>
  </div>
</div>
