<ion-grid>
  <ion-row>
    <ion-col>
      <ion-row class="ion-no-padding rounded-pill searchBar p-1">
        <ion-col class="d-flex align-items-center" size="auto">
          <ion-icon [src]="searchIcon"></ion-icon>
        </ion-col>
        <ion-col class="ion-no-padding d-flex align-items-center">
          <ion-input class="ion-no-padding"></ion-input>
        </ion-col>
        <ion-col class="ion-no-padding d-flex align-items-center" size="auto">
          <ion-icon [src]="arrowDown"></ion-icon>
        </ion-col>
      </ion-row>
    </ion-col>
  </ion-row>
</ion-grid>
