/* You can add global styles to this file, and also import other style files */
@import "src/styles.framework/input.scss";
@import "src/styles.framework/properties.scss";
@import "src/styles.framework/fonts.scss";
@import "/src/styles.framework/colors.scss";

@font-face {
    font-family: "arabicFont";
    src: url(./assets/Fonts/ArabicFont.ttf);
}
@font-face {
    font-family: "arabicFont";
    src: url(./assets/Fonts/ArabicFontHeavy.ttf);
    font-weight: bold;
}
.arabicFont{
    font-family: "arabicFont" !important;
}
.arabicFontBold{
    font-family: "arabicFont" !important;
    font-weight: bold;
}
::-webkit-scrollbar {
    width: 10px;
}

  /* Track */
  ::-webkit-scrollbar-track {
    background: #f1f1f1;
  }
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: $blue;
    border-radius: 0px;
  }

  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: $blue;
  }
  img {
    -khtml-user-select: none;
    -o-user-select: none;
    -moz-user-select: none;
    -webkit-user-select: none;
    user-select: none;
    pointer-events: none;
  }
  body{
      background: transparent !important;
      border-radius: 47px;
     /*  background-color: black !important; //Development Mode */
  }
  .main{
      background-color: white !important;
      width: 100%;
      height: 100vh;
      border-radius: var(--window-border-radius);
      overflow: hidden;
  }
  .scrollFix{
    overflow-y: auto;
    width: 100%;
    height: calc(100vh - 40px);
    margin-top: 40px;
  }

  .flipper{
  background-color: $green;
  width: 80%;
  height: 50px;
  position: absolute;
  left: 50%;
  transform: translate(-50%, 0%);
  bottom: -60px;
  border-radius: 10px;
  color: white;
  text-align: center;
  line-height: 3.2;
  transition: all 0.5s ease-in-out;
}

.flipperShow{
  bottom: 20px;
}
