<div class="d-flex justify-content-center align-items-center h-100">
    <div class="inputsContainer w-75 h-75">
        <div class="row h-100">
            <div class="col-6 justify-content-center d-flex align-items-center">
                <img class="img-fluid mt-5" src="assets/Images/Resala.png">
            </div>
            <div class="col-6 justify-content-center d-flex align-items-center">
                <form class="w-100 pe-5" [formGroup]="loginForm">
                    <div class="row">
                        <h1 class="text-end mb-3 arabicFontBold loginTitle">تسجيل الدخول</h1>
                    </div>
                    <div class="row usernameContainer">
                        <input dir="rtl" formControlName="username" type="text" class="form-control inputStyle loginInput text-end ps-5" placeholder="ادخل اسم المستخدم">
                    </div>
                    <div class="row justify-content-end text-danger" *ngIf="this.loginForm.controls.username.invalid && (this.loginForm.controls.username.touched || submitAttempt)">برجاء التأكد من اسم المستخدم</div>
                    <div class="mb-4"></div>
                    <div class="row passwordContainer">
                        <input dir="rtl" formControlName="password" type="password" class="form-control inputStyle loginInput text-end ps-5" placeholder="ادخل كلمة السر">
                    </div>
                    <div class="row justify-content-end text-danger" *ngIf="this.loginForm.controls.password.invalid && (this.loginForm.controls.password.touched || submitAttempt)">برجاء التأكد من كلمة السر</div>
                    <div class="mb-4"></div>
                    <div class="row">
                        <button (click)="onSubmit()" class="btn btn-primary btn-lg">تسجيل الدخول</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
<div class="loadingScreen" *ngIf="loading">
    <div class="col d-flex h-100 align-items-center justify-content-center">
        <div class="bg-light loadingContainer">
            <img width="300" height="300" src="assets/Images/Loading.gif">
        </div>
    </div>
</div>
<app-normal-alert [alertType]="alertType" [alertBody]="alertMessage"></app-normal-alert>
