<ion-header class="ion-no-padding">
  <ion-toolbar class="ion-no-border">
    <app-title-bar [title]="'calls'"></app-title-bar>
  </ion-toolbar>
</ion-header>

<ion-content>
  <app-call-card *ngFor="let call of callProperties" [callProperties]="call"></app-call-card>

  <ion-infinite-scroll threshold="10px" (ionInfinite)="loadData($event)">
    <ion-infinite-scroll-content
      loadingSpinner="bubbles"
      [loadingText]="'LOADING.message' | translate">
    </ion-infinite-scroll-content>
  </ion-infinite-scroll>

</ion-content>
