<div class="headerContainer">

  <ion-grid dir="rtl" >
    <ion-row>
      <ion-col>
        <ion-label class="defaultLabel fontH4">3/6/1999</ion-label>
      </ion-col>
    </ion-row>

    <ion-row class="gridContainer">
      <ion-col>
        <ion-row>
          <ion-col>
            <ion-label class="defaultLabel fontH4">
              21
            </ion-label>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col >
            <ion-label class="defaultLabel fontH4">
              محمد مصطفي عوض محمد
            </ion-label>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col>
            <ion-label class="defaultLabel fontH4">
              01122331195
            </ion-label>
          </ion-col>
        </ion-row>
      </ion-col>
    </ion-row>
    
  </ion-grid>
</div>