.gridContainer {
    background-color: var(--header-default-background);
    border-radius: var(--default-border-radius);
}

.backgroundWave {
    max-height: 10px;
}

.headerContainer {
    background-color: var(--header-default-background-dark);
    border-radius: var(--default-border-radius);
}