<div 
  *ngIf="event"
  class="headerContainer shadow-lg">
  
  <ion-grid dir="rtl">
    <ion-row>
      <ion-col>
        <ion-label class="defaultLabel fontH4">
          <ion-label>
            {{'ُEVENTPAGEDATA.from' | translate}} :
          </ion-label>
          <ion-label>
            {{event.fromDate | date: 'hh:mm dd-MM-yyyy' }}
          </ion-label>
        </ion-label>
        
      </ion-col>
      <ion-col class="text-start">
        <ion-label class="defaultLabel fontH4">
          <ion-label>
            {{'ُEVENTPAGEDATA.to' | translate}} :
          </ion-label>
          <ion-label>
            {{event.toDate | date: 'hh:mm dd-MM-yyyy' }}
          </ion-label>
        </ion-label>
      </ion-col>
    </ion-row>

    <ion-row class="gridContainer">
      <ion-col>
        <ion-row>
          <ion-col>
            <ion-label class="defaultLabel FontH4">
              <ion-label>
                {{'ُEVENTPAGEDATA.shareable' | translate}} :
              </ion-label>
              <ion-label>
                {{(event.shareable ? 'ANSWERS.yes' : 'ANSWERS.no') | translate}}
              </ion-label>
            </ion-label>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col>
            <ion-label class="defaultLabel fontH2">
              {{event.name}}
            </ion-label>
          </ion-col>
        </ion-row>
        <!--<ion-row>
          <ion-col>
            <ion-label class="defaultLabel fontH5">
              {{event.description}}
            </ion-label>
          </ion-col>
        </ion-row>-->
      </ion-col>
    </ion-row>
    
  </ion-grid>
</div>
