<div class="position-relative mb-1 mt-1 d-flex flex-column align-items-center">
  <ion-grid class="position-absolute ion-no-padding h-100 w-100 max-width d-flex flex-column align-items-end" style="z-index: 100;">
    <ion-row class="h-100 max-width">
      <ion-col class="d-flex flex-column justify-content-center align-items-end">
        <ion-icon name="chevron-back-outline" class="defaultIcon"></ion-icon>
      </ion-col>
    </ion-row>
  </ion-grid>
  <ion-grid #eventCard class="card upperContainer pt-2 pb-2 ps-2 max-width shadow ion-no-padding" (click)="clickCard()" 
  [ngClass]="{'activeCard': isSwapping}"
  data-bs-toggle="collapse" 
  [attr.data-bs-target]="'#collapseExample' + index" 
  aria-expanded="false" 
  [attr.aria-controls]="'collapseExample' + index"
  style="z-index: 200;">
    <ion-row class="w-100 h-100" dir="rtl">
      <ion-col class="d-flex flex-column justify-content-center align-items-center ion-no-padding" size="auto">
        <ion-icon name="chevron-back-outline" class="defaultIcon greenIcon"></ion-icon>
      </ion-col>
      <ion-col class="ion-no-padding d-flex flex-column justify-content-around ms-1">
        <ion-row class="ion-no-padding">
          <ion-col class="ion-no-padding">
            <ion-label class="header">
              {{event.name}}
            </ion-label>
          </ion-col>
        </ion-row>
        <ion-row class="ion-no-padding" >
          <ion-col class="ion-no-padding d-flex flex-column justify-content-center">
            <ion-text class="description">
              <span>{{event.description}}</span><span class="collapse" [attr.id]="'collapseExample' + index"></span>
            </ion-text>
          </ion-col>
        </ion-row>
        
        <ion-row class="collapse mt-1" [attr.id]="'collapseExample' + index">
          <ion-col class="kpi bgSuccess ms-1">
            <ion-label>400</ion-label>
          </ion-col>
          <ion-col class="kpi bgWarning me-1 ms-1">
            <ion-label>400</ion-label>
          </ion-col>
          <ion-col class="kpi bgDanger me-1">
            <ion-label>400</ion-label>
          </ion-col>
        </ion-row>
      </ion-col>
    
      <ion-col class="d-flex flex-column align-items-center justify-content-around dateCard" size="auto" [ngClass]="{'activeDateCard': isSwapping}">
        <div class="h-100 d-flex flex-column justify-content-center">
          <ion-row class="day align-self-center"><ion-label>15</ion-label></ion-row>
          <ion-row class="month align-self-center"><ion-label>jan</ion-label></ion-row>
          <ion-row class="year align-self-center"><ion-label>2020</ion-label></ion-row>
        </div>
      </ion-col>
    </ion-row>
  </ion-grid>
</div>
