<ion-header>
  <app-title-bar [title]="'test'" [showBackIcon]="true"></app-title-bar>
</ion-header>

<ion-content>
  <ion-grid class="p-1" dir="rtl">
    <form 
      class="d-flex flex-column justify-content-center align-items-center"
      [formGroup]="volunteerFormAtt.volunteerForm" (ngSubmit)="isAddForm ? addVolunteer() : editVolunteer()">
      <ion-row class="max-width w-100">
        <ion-col class="p-1">
          <app-input [(inputProperties)]="volunteerFormAtt.fullname"></app-input>
        </ion-col>
      </ion-row>

      <ion-row class="max-width w-100">
        <ion-col class="p-1">
          <app-input [(inputProperties)]="volunteerFormAtt.nickName"></app-input>
        </ion-col>
      </ion-row>

      <ion-row class="max-width w-100">
        <ion-col class="p-1">
          <app-input [(inputProperties)]="volunteerFormAtt.birthDate"></app-input>
        </ion-col>
      </ion-row>

      <ion-row class="max-width w-100">
        <ion-col class="p-1">
          <app-input [(inputProperties)]="volunteerFormAtt.nationalID"></app-input>
        </ion-col>

        <ion-col class="p-1 d-flex flex-column justify-content-center">
          <app-select-box [selectBoxProperties]="volunteerFormAtt.gender"></app-select-box>
        </ion-col>
      </ion-row>

      <ion-row class="max-width w-100">
        <ion-col class="p-1">
          <app-input [(inputProperties)]="volunteerFormAtt.university"></app-input>
        </ion-col>
      </ion-row>

      <ion-row class="max-width w-100">
        <ion-col class="p-1">
          <app-input [(inputProperties)]="volunteerFormAtt.faculty"></app-input>
        </ion-col>
      </ion-row>

      <ion-row class="max-width w-100">
        <ion-col class="p-1">
          <app-input [(inputProperties)]="volunteerFormAtt.phoneNumber"></app-input>
        </ion-col>
      </ion-row>

      <ion-row class="max-width w-100">
        <ion-col class="p-1">
          <app-input [(inputProperties)]="volunteerFormAtt.joiningDate"></app-input>
        </ion-col>
      </ion-row>

      <ion-row class="max-width w-100">
        <ion-col class="p-1">
          <app-input [(inputProperties)]="volunteerFormAtt.age"></app-input>
        </ion-col>
        <ion-col class="p-1 d-flex flex-column justify-content-center">
          <app-select-box [selectBoxProperties]="volunteerFormAtt.tShirt"></app-select-box>
        </ion-col>
      </ion-row>

      <ion-row class="max-width w-100">
        <ion-col class="p-1 d-flex flex-column justify-content-center">
          <app-select-box [selectBoxProperties]="volunteerFormAtt.branch"></app-select-box>
        </ion-col>
      </ion-row>

      <ion-row class="max-width w-100">
        <ion-col class="p-1">
          <app-input [(inputProperties)]="volunteerFormAtt.apartmentNumber"></app-input>
        </ion-col>
        <ion-col class="p-1">
          <app-input [(inputProperties)]="volunteerFormAtt.buildingNumber"></app-input>
        </ion-col>
      </ion-row>

      <ion-row class="max-width w-100">
        <ion-col class="p-1">
          <app-input [(inputProperties)]="volunteerFormAtt.streetName"></app-input>
        </ion-col>
        <ion-col class="p-1">
          <app-input [(inputProperties)]="volunteerFormAtt.neighborhoodName"></app-input>
        </ion-col>
        <ion-col class="p-1 d-flex flex-column justify-content-center">
          <app-select-box [selectBoxProperties]="volunteerFormAtt.governorate"></app-select-box>
        </ion-col>
      </ion-row>

      <ion-row class="max-width w-100">
        <ion-col class="p-1">
          <app-text-area [(inputProperties)]="volunteerFormAtt.comments"></app-text-area>
        </ion-col>
      </ion-row>

      <ion-row class="max-width w-100">
        <ion-col class="p-1">
          <app-button [label]="'fdjslkafjdlks'" [type]="'submit'" [disabled]="volunteerFormAtt.volunteerForm.invalid"></app-button>
        </ion-col>
      </ion-row>
    </form>
  </ion-grid>
  
</ion-content>
