/*
 * App Global CSS
 * ----------------------------------------------------------------------------
 * Put style rules here that you want to apply globally. These styles are for
 * the entire app and not just one component. Additionally, this file can be
 * used as an entry point to import other CSS/Sass files to be included in the
 * output CSS.
 * For more information on global stylesheets, visit the documentation:
 * https://ionicframework.com/docs/layout/global-stylesheets
 */

/* Core CSS required for Ionic components to work properly */
@import "~@ionic/angular/css/core.css";

/* Basic CSS for apps built with Ionic */
@import "~@ionic/angular/css/normalize.css";
@import "~@ionic/angular/css/structure.css";
@import "~@ionic/angular/css/typography.css";
@import '~@ionic/angular/css/display.css';

/* Optional CSS utils that can be commented out */
@import "~@ionic/angular/css/padding.css";
@import "~@ionic/angular/css/float-elements.css";
@import "~@ionic/angular/css/text-alignment.css";
@import "~@ionic/angular/css/text-transformation.css";
@import "~@ionic/angular/css/flex-utils.css";
@import "assets/css/colors.scss";
@import "assets/css/common.scss";
@import "assets/css/factors.scss";
@import "assets/css/fonts.scss";
@import "assets/css/alertClasses.scss";
@import "assets/css/modalClasses.scss";

ion-content, ion-header {
    background-color: var(--background-default);
    --background: var(--background-default);
    --padding-start: var(--default-margin-padding);
    padding-left: var(--default-margin-padding);;
    padding-right: var(--default-margin-padding);;
    --padding-end: var(--default-margin-padding);;
}

ion-toolbar {
    background-color: var(--background-default);
    --background: var(--background-default);
}

ion-fab-button {
    --background: var(--blue);
}

/*.my-custom-class {
    --height: 80%;
    --border-radius: var(--border-radius) var(--border-radius) 0px 0px;
    transition: all 2ms ease-in-out;
    //top: initial;
    //min-height: initial;
}*/

.modal-wrapper.sc-ion-modal-ios {
    -webkit-transform: translate3d(0, 100%, 0);
    transform: translate3d(0, 100%, 0);
    position: absolute;
    bottom: 0;
}

