.callButton {
    --background: var(--green);
    --background-activated: #0f996d1c;
    --transition: all 0.5ms ease-in-out;
    position: fixed;
    bottom: 0;
    width: 100%;
}

.img {
    width: 150px;
    position: relative;
    bottom: -20px;
    animation: updown 2s ease infinite;
    transition-duration: 0.5ms;
}


.img:hover {
    animation-play-state: paused;
}

@keyframes updown {
    0% {
        bottom: -25px;//width: 150px;//translateY(-5%);
    }
  
    50% {
        bottom: -20px;//transform: translateY(0%);
    }
  
    100% {
        bottom: -25px;//transform: translateY(-5%);
    }
  }