<div class="headerContainer shadow-lg mt-2 hasCallButton">
  
  <ion-grid dir="rtl">
    <ion-row>
      <ion-col>
        <ion-label class="defaultLabel fontH4">
          <ion-label>
            {{'ُEVENTPAGEDATA.startDate' | translate}} :
          </ion-label>
          <ion-label>
            
          </ion-label>
        </ion-label>
      </ion-col>
    </ion-row>

    <ion-row >
      <ion-col>
        <ion-row>
          <ion-col>
            <ion-label class="defaultLabel FontH4 fw-bold">
              <ion-label>
                {{'ُEVENTPAGEDATA.description' | translate}}
              </ion-label>
            </ion-label>
          </ion-col>
        </ion-row>

        <ion-row class="gridContainer">
          <ion-col>
            <ion-label class="defaultLabel fontH4">
              fdagdsgdlaskhfkldshaf
              daslkkfhdskahf
              fadskhflksdhflkasdhf
              adhsfkladshflkhadsfldsh
              fhadsfhdasfhlasfhdl
              ashdf
              adshfklasdhfl
              ahsdlfkhdaslkfh
              sdhfl
              ahdsflkhasdfh
              lashdfl
              adshfklasdhflashdflksadhflkasdhfhas
              fhadsfhdasfhlasfhdlsafhdslkhf
            </ion-label>
          </ion-col>
        </ion-row>

        <ion-row>
          <ion-col>
            <ion-label class="defaultLabel fontH4 fw-bold">
              {{'ُEVENTPAGEDATA.eventText' | translate}}
            </ion-label>
          </ion-col>
        </ion-row>

        <ion-row class="gridContainer">
          <ion-col>
            <ion-label class="defaultLabel fontH4">
              fdagdsgdlaskhfkldshaf
              daslkkfhdskahf
              fadskhflksdhflkasdhf
              adhsfkladshflkhadsfldsh
              fhadsfhdasfhlasfhdl
              ashdf
              adshfklasdhfl
              ahsdlfkhdaslkfh
              sdhfl
              ahdsflkhasdfh
              lashdfl
              adshfklasdhflashdflksadhflkasdhfhas
              fhadsfhdasfhlasfhdlsafhdslkhffdfgsfdljgkldsag
              dlaghh
              sdghlkadhglkdshglkdashkghakdhfklsajfdsk;jfkldsjalfkjdlksafjkldjsafklhdakl;fhkasdfjkl;sjklfhdasjkfhklsdahflkdsjaflkhdsklfhlaskdhflkdsahfkl;daslkkfhdskahfdashflkdsafdsaf
              dkasfhlkdshfal
              fdasfhdlksahfl
              sjklfhdasjkfhklsdahflkdsjaflkhdsklfhlaskdhflkdsahfklshdklf
              hashdfl
              ashdf
              kahdflk
              ashdflkashdflkajsdklfjdaslkhgklajdfkldshlaf
              dsafhdakslfhlksdjflk
              ajsdflkasjlkdfhadfh
              dshfl
              ashdf
              hsdlfk
              dhsalkfjdslkafjlasfdhkadshflkdashfl
              fhdakljfldskjafkldhsfa
              lkdahfkldsjfkldsjaf

            </ion-label>
          </ion-col>
        </ion-row>

      </ion-col>
    </ion-row>
    
  </ion-grid>
</div>
