@import "../../../styles.framework/colors.scss";
@import "../../../styles.framework/properties.scss";
.containerCard{
    width: 100%;
    padding: 10px;
    background-color: $gray;
    border-radius: var(--card-border-radius);
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    white-space: nowrap;
    overflow: hidden;
    transition: 0.2s all ease-in-out;
    cursor: pointer;
    &:hover{
        transform: translate(-10px);
    }
}
.activeCard{
    background-color: $blue !important;
    &:hover{
        transform: none;
    }
}
.firstElement{
    margin-top: 21px;
}
